.editorWrapper {
  padding: 2vw;
  width: 100%;
  max-width: 100%;
}

.ProseMirror {
  padding: 2vw;
  width: 100%;
  background-color: #fff;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror-selectednode {
  outline: 2px solid red;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}
